# IDE
nbproject/
*.tmproj

# App
config/database.php
plugins/debug_kit/
vendors/simpletest/
webroot/uploads/

# Cake cache
tmp/cache/cake_*
tmp/cache/models/cake_*
tmp/cache/persistent/cake_*
tmp/cache/queries/cake_*
 
# Cake tmp dir
tmp/logs/*.log
tmp/sessions/*