[submodule "Locale"]
	path = Locale
	url = git://github.com/croogo/locale.git
[submodule "Migrations"]
	path = Plugin/Migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "Search"]
	path = Plugin/Search
	url = git://github.com/CakeDC/search.git
[submodule "Ckeditor"]
	path = Plugin/Ckeditor
	url = git://github.com/croogo/Ckeditor.git
