//
// Breadcrumbs
// --------------------------------------------------

#breadcrumb-container {
  background: $gray-lightest;
  border-radius: 0.25rem;
}

.breadcrumb {
  z-index: $zindex-dropdown;

  li:last-child {
    @extend .active;

    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
