.btn {
	&:focus {
		outline: none;
	}
}

.box .btn {
	margin: 4px 4px 0px 4px;
}

.nav-buttons {
	.btn-group {
		li {
			margin: 0;
			width: 100%;
		}
	}
}

.card-buttons {
    .btn {
        margin-right: 4px;
    }
    margin-bottom: 10px;
}

.toggle-icon {
    cursor: pointer;
}