.label-hidden {
    label {
        display: none;
    }
}

form .span8 + .span4 {
    margin-top: 37px;
}

.form-inline {
    .btn,
    .form-control {
        margin: 2px 2px 2px 0;
    }

}

.file {
    .form-control {
        display: inline-block;
        width: auto;
    }
}

span.slug {
    font-weight: bold;
    margin: 0 10px;
}

.radio,
.checkbox {
    input {
        margin-right: 0.25rem;
    }
    label {
        width: 100%;
    }
}

.input-group-addon {
    background: $gray-lightest;
}

.form-control:focus {
    border: 1px solid darken($gray-lightest, 25);
    box-shadow: 2px 2px 2px rgba($gray, 0.3);
}
