//
// Layouts
// --------------------------------------------------

// For top and bottom navbar
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: $croogo-background-color;

    &.admin-login {
        background-color: $gray-lightest;
        #content-container {
            margin-top: 0;
            background-color: $gray-lightest;
        }
    }
}

#wrap {
    overflow: hidden;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin-bottom: -42px;

    .full {
        #content {
            margin: 0 $croogo-general-margin;
        }
    }
}

#push {
    //height: $navbarHeight;
}

#content-container {
    padding: 0;
    // expands downwards for matching background color
    background: $croogo-main-bg;
    padding: 20px 0px 99999px 0px;
    margin-bottom: -99999px;
    margin-top: $croogo-navbar-height;
}

#content {
    background: #fff;
    border: 1px solid #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-left: 170px;
    margin-bottom: $croogo-general-margin;
    padding: 20px;
    min-height: 400px;
}

#inner-content {
    margin: 0;
}

.content {
    padding: 0px $croogo-content-padding;

    table {
        margin: $croogo-general-margin 0px;
    }
}

.admin-login-box {
    @extend .center-block;
    margin-top: 5%;
    max-width: $croogo-login-box-width + 2;

    #authMessage {
        margin-bottom: $croogo-content-padding;
    }

    .input-prepend {
        margin-bottom: $croogo-content-padding;
    }

    .forgot {
        vertical-align: middle;
        margin: 0 $croogo-content-padding * 2;
    }

}

header {
    border-bottom: 1px solid #707070;

    &.navbar {
        height: $croogo-navbar-height;
    }
}

footer {
    margin-top: -40px;
    height: 40px;

    background: $gray-dark;
    .navbar-inner {
        @include border-radius(0);
        margin: 0 auto;
        padding: 0;
    }

    .footer-content {
        padding: 10px;
        text-align: center;
        color: #fff;
        font-size: 13px;
    }

    border-top: 1px solid #707070;

    color: #fff;
    a {
        color: #fff;
    }
    a:hover {
        color: #fff;
    }

    &.navbar-inverse {
        background: $gray-dark;
    }
}

.hidden {
    display: none;
}
