.pagination-wrapper {
  @extend .mx-auto;

  text-align: center;
  margin-top: 20px;
  p {
    margin: 0;
    font-size: $font-size-sm;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .pagination {
    padding: 20px 0;
  }
}
