.popup {

  #content {
    background: #fff;
    border: 0 none;
    border-radius: 0px;
    margin: 0;
    padding: 10px;
    min-height: 400px;
    min-width: 960px;
  }

}

#link-chooser .modal-dialog {
  max-width: 80%;
}
