.form-inline {
  .select2-container--bootstrap {
    margin-right: 2px;
  }
}

.form-group {
  .select2-container--bootstrap {
    min-width: 100%; // make select in inactive tab pane has 100% width
  }
  .input-group {
    flex-wrap: nowrap;
  }
}

.link-chooser {
  &+ .select2-container {
    padding-right: 30px;
    min-width: 100%;
  }
  &~ .input-group-append {
    margin-left: -30px;
  }
}
