// Sidebar
.sidebar{
	font-family: @font-family-sans-serif;
	width: @crNavWidth;
	padding-top: @navbar-height;
	margin-bottom: 10px;
	float: left;
	text-overflow: ellipsis;

	// fix padding for large icons
	[class^="fa-lg"], [class*=" fa-lg"] {
		margin-right: 1em;
	}
	a {
		// no annoying outline
		&:focus {
			outline: none;
		}
	}

	// Items
	.nav-stacked{
		background-color: @navbar-inverse-bg;

		// Categories links
		a{
			color: @navbar-inverse-link-color;
			&:hover, &:active, &:focus{
				color: @navbar-inverse-link-hover-color;
				background-color: @navbar-inverse-bg;
			}
			// Top level current element
			&.current{
				.sidebarActiveParentBackground;
			}
		}

		// Sub-items
		.sub-nav{
			display:none;
			// Sub-categories links
			a{
				background: lighten(@navbar-inverse-bg, 10%);
				&:hover, &:active, &:focus{
					background: lighten(@navbar-inverse-bg, 10%);
				}
				&.current{
					.sidebarActiveBackground;
					background-color: lighten(@navbar-inverse-bg, 10%);

				}
			}

			// Submenu items
			li{
				margin:0px;
			}
		}
	}

	// Closed items
	ul.dropdown-close{
		/*display:none;*/
	}

}